{
    "extends": "airbnb",
    "plugins": ["react", "react-native"],
    "parser": "babel-eslint",
    "rules": {
        "react/prefer-stateless-function": 0,
        "react/jsx-indent": 0,
        "indent": 0,
        "no-useless-constructor": 0,
        "comma-dangle": 0,
        "react/jsx-filename-extension": 0,
        "react/prop-types": 0,
        "react/destructuring-assignment": 0,
        "max-len": 0,
        "react/jsx-indent-props": 0,
        "prefer-destructuring": 0,
        "no-console": 0,
        "object-curly-newline": 0,
        "no-return-await": 0,
        "no-underscore-dangle": 0,
        "import/no-unresolved": 0
    }
}
